.admin-page-wrapper{
    width: 100vw;
    height: 90vh;
    display: flex;
}
.admin-sidebar{
    width: 25vw;
    height: 90vh;
    background-color: var(--blue);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin-hamburger-btn{
    display: none;
}
.admin-sidebar ul{
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}
.admin-sidebar li{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.sidebar-btns{
    width: 100%;
    height: 100%;
    background: none;
    border:none;
    cursor: pointer;
    color:white;
    font-size: 1.2em;
    transition: all 200ms;
}
.admin-sidebar button:hover{
    background-color: var(--dimBlack);
}
.active-btn{
    background-color: var(--dimBlack);
}
.admin-page-details-div{
    width: 75vw;
    height: 90vh;
}
/* Users */
.users{
    width: 65%;
    height: 65%;
    margin:auto;
    margin-top: 7%;
    overflow-y:scroll;
    border:1px solid gray;
    padding:10px;
}
.user{
    padding:10px;
    border:1px solid gray;
    margin:20px 0;
    position: relative;
}
.user h2, .user h3, .user p {
    margin:5px 0;
}
/* Properties */
.hotels-wrapper, .apartments-wrapper, .resorts-wrapper{
    width: 75vw;
    height: 79.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    border-top:1px solid gray;
}
.hotels-wrapper h2, .apartments-wrapper h2, .resorts-wrapper h2{
    font-size: 2em;
    margin:10px 0;
}
.p-details{
    margin:5px 0;
}
.admin-listed-property{
    height: 30%;
}
.listed-property-img-wrapper{
    display: flex;
    align-items: center;
}
.more-admin-options-btn{
    position: absolute;
    right:10px;
    font-size: 1.5em;
    background:none;
    border:none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 250ms;
}
.more-admin-options-btn:hover{
    background-color: rgba(0, 0, 0, .2);
}
.users-more-admin-options, .properties-more-admin-options{
    height: 30px;
    border:1px solid gray;
    border-radius: 5px;
    position: absolute;
    display: none;
}
.properties-more-admin-options{
    height: 70px;
    flex-direction: column;
    justify-content: space-between;
}
.users-more-admin-options{
    width: fit-content;
    right:-100px;
    position: absolute;
    top:40px;
    right:5px;
}
.active-admin-options{
    display: block;
}
.users-more-admin-options button, .properties-more-admin-options button{
    width: 100%;
    height: 100%;
    background: white;
    border:none;
    border-radius: 4px;
    padding:5px;
    cursor: pointer;
    transition: all 250ms;
}
.properties-more-admin-options button{
    height: 30px;
}
.users-more-admin-options button:hover, .properties-more-admin-options button:hover{
    background-color: rgba(0, 0, 0, .1);
}
.edit-property-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top:0;
    left:0;
    display: none;
    justify-content: center;
    align-items: center;
}
.edit-property-form{
    height: 75vh;
    width:50vw;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding:20px 40px;
    box-shadow: 0 0 10px var(--lightBlue);
}
.edit-property-form h2{
    font-size: 2em;
    margin:20px 0;
}
.edit-property-form input{
    width: 300px;
    font-size: 1em;
    padding:5px 10px;
    margin-top: 5px;
    border:2px solid var(--lightBlue);
    border-radius: 5px;
    transition: all 150ms;
}
.edit-property-form input:focus{
    outline:none;
    box-shadow: 0 0 6px var(--lightBlue);
}
.edit-inputs-wrappers{
    display: flex;
    flex-direction: column;
}
.edit-property-form select{
    width: 320px;
    padding:5px 10px;
    margin:10px 0;
    background-color: white;
    border:2px solid var(--lightBlue);
    border-radius:5px;
    font-size: 1em;
}
.submit-editted-property, .disabled-btn{
    font-size: 1.2em;
    padding:10px 50px;
    cursor: pointer;
    background-color:var(--lightBlue);
    border:1px solid white;
    border-radius: 5px;
    color:white;
    transition: all 250ms;
}
.submit-editted-property:hover{
    background-color:var(--blue)
}
.disabled-btn{
    cursor: not-allowed;
    opacity: .8;
}
.close-edit-form{
    position: absolute;
    top:20px;
    right:40px;
    background: none;
    border:none;
    cursor: pointer;
}
.close-edit-form img{
    width: 35px;
}
/* iPad Pro 12 inch */
@media (max-width:1024px) and (max-height:1366px){
    .admin-sidebar{
        width: 40vw;
    }
    .admin-sidebar ul{
        min-height: 30%;
    }
    .users{
        width: 95%;
    }
    .hotels-wrapper, .apartments-wrapper, .resorts-wrapper{
        width: 100%;
    }
    .admin-listed-property{
        width: 95%;
        height: fit-content;
    }
    .admin-listed-property-img-wrapper{
        height: fit-content;
    }
}
/* iPad Pro 11 inch */
@media (max-width:834px) and (max-height:1194px){
    .mobile-admin-sidebar{
        width: 7vw;
        height: 100vh;
        position: absolute;
        z-index: 1;
        transition: all 400ms;
    }
    .active-mobile-admin-sidebar{
        width: 80vw;
    }
    .admin-sidebar ul{
        display: none;
    }
    .admin-hamburger-btn{
        height: 25px;
        width: 35px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        top:10px;
        right:10px;
    }
    .admin-hamburger-btn div{
        height: 4px;
        width: 100%;
        background-color: white;
    }
    .admin-page-details-div{
        width: 93vw;
        margin-left: 7vw;
    }
    .users{
        width: 90vw;
    }
}
/* iPhone 12/13 Pro Max */
@media (max-width:428px) and (max-height:926px){
    .admin-page-details-div{
        margin-top: 8vh;
    }
    .mobile-admin-sidebar{
        width: 10vw;
        margin-top: 7.9vh;
    }
    .active-mobile-admin-sidebar{
        width: 100vw;
    }
    .admin-hamburger-btn{
        right:5px;
    }
    .admin-sidebar ul{
        height: 40%;
    }
    .users{
        border:none;
        border-top:1px solid gray;
    }
    .user{
        margin-left: 5px;
    }
    .hotels-wrapper{
        border:none;
        border-top:1px solid gray;
    }
    .admin-listed-property{
        padding: 0;
        margin-left: 10px;
    }
    .properties-more-admin-options{
        right:0;
        height: fit-content;
        margin-top:50px;
    }
    .properties-more-admin-options button{
        height: 35px;
    }
    .properties-more-admin-options button:first-of-type{
        border-bottom: 1px solid black;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .properties-more-admin-options button:last-of-type{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}
/* iPhone XS Max */
@media (max-width:414px) and (max-height:896px){
    .admin-hamburger-btn{
        right: 3px;
    }
}
/* iPhone X/XS */
@media (max-width:375px) and (max-height:812px){
    .mobile-admin-sidebar{
        width: 11vw;
    }
    .active-mobile-admin-sidebar{
        width: 100vw;
    }
    .user{
        width: 90%;
        margin-left: 8px;
    }
    .user h2{
        margin-top: 10%;
    }
    .admin-listed-property{
        width: 93%;
    }
    .admin-listed-property-img-wrapper{
        margin-top: 15%;
    }
}
/* iPhone SE */
@media (max-width:375px) and (max-height:667px){
    .admin-sidebar ul{
        height: 50%;
    }
}
/* S21FE */
@media (max-width:360px) and (max-height:800px){
    .admin-sidebar ul{
        height: 50%;
    }
}