.admin-page-wrapper{
    width: 100vw;
    height: 90vh;
    display: flex;
}
.admin-sidebar{
    width: 25vw;
    height: 90vh;
    background-color: var(--blue);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin-sidebar ul{
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}
.admin-sidebar li{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.sidebar-btns{
    width: 100%;
    height: 100%;
    background: none;
    border:none;
    cursor: pointer;
    color:white;
    font-size: 1.2em;
    transition: all 200ms;
}
.admin-sidebar button:hover{
    background-color: var(--dimBlack);
}
.active-btn{
    background-color: var(--dimBlack);
}
.admin-page-details-div{
    width: 75vw;
    height: 90vh;
}
/* Users */
.users{
    width: 65%;
    height: fit-content;
    margin:auto;
    margin-top: 7%;
}
.user{
    padding:10px;
    border:1px solid gray;
    margin:20px 0;
}
.user h2, .user h3, .user p {
    margin:5px 0;
}
/* Properties */
.hotels-wrapper, .apartments-wrapper, .resorts-wrapper{
    width: 75vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
.hotels-wrapper h2, .apartments-wrapper h2, .resorts-wrapper h2{
    font-size: 2em;
    margin:10px 0;
}
.p-details{
    margin:5px 0;
}
.admin-listed-property{
    height: 25%;
}
.listed-property-img-wrapper{
    display: flex;
    align-items: center;
}
.more-admin-options-btn{
    position: absolute;
    right:10px;
    font-size: 1.5em;
    background:none;
    border:none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 250ms;
}
.more-admin-options-btn:hover{
    background-color: rgba(0, 0, 0, .2);
}
.more-admin-options{
    height: 30px;
    border:1px solid gray;
    border-radius: 5px;
    position: absolute;
    right:-110px;
    top:10px;
    display: none;
}
.active-admin-options{
    display: flex;
}
.more-admin-options button{
    width: 100%;
    height: 100%;
    background: white;
    border:none;
    border-radius: 4px;
    padding:5px;
    cursor: pointer;
    transition: all 250ms;
}
.more-admin-options button:hover{
    background-color: rgba(0, 0, 0, .1);
}