.property-browser-wrapper{
    font-family: 'Figtree', sans-serif;
}
.property-browser-wrapper h2{
    font-size: 2em;
    margin:5% 10%;
}
.properties-wrapper{
    width: 80dvw;
    height: 500px;
    margin-left:10%;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.property-div{
    width: 70%;
    height: 200px;
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom:1px solid gray;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.property-img-wrapper{
    height: 100%;
    width: 30%;
}
.property-img{
    height: 100%;
    width: 100%;    
}
.property-details{
    width: 70%;
    height: 50%;
}
.property-name{
    font-size: 1.5em;
    text-decoration: none;
    color:black;
}
.property-name:hover{
    text-decoration: underline;
}
.property-name, .property-address{
    margin-left: 30px;
}
.price-div{
    width: 100px;
    height: 50%;
    position: absolute;
    right:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price-spans{
    font-size: .8em;
    font-weight: 300;
    color:rgba(128, 128, 128, 1);
    margin:5px 0;
}
/* iPad Pro 12.9 inch */
@media (max-width:1024px) and (max-height:1366px){
    .property-div{
        width: 90%;
    }
}
/* iPad Pro 11 inch */
@media (max-width:834px) and (max-height:1194px){
    .properties-wrapper{
        width: 90%;
        margin:auto;
    }
    .property-div{
        width: 100%;
    }
}
/* iPad Mini */
@media (max-width:768px) and (max-height:1024px){
    .properties-wrapper{
        width: 98vw;
    }
}
/* iPhone 12/13 Pro Max */
@media(max-width:428px){
    .property-browser-wrapper{
        margin-top: 8vh;
    }
    .property-browser-wrapper h2{
        width: 100%;
        margin:auto;
        margin-bottom: 5vh;
        font-size: 2em;
        text-align: center;
    }
    .property-img-wrapper{
        width: 60%;
        height: 90%;
    }
    .property-name, .property-address{
        margin-left: 10px;
    }
    .property-name{
        display: block;
        margin-bottom: 10px;
    }
}
/* iPhone SE */
@media (max-width:375px) and (max-height:667px){
    .property-browser-wrapper h2{
        font-size: 1.5em;
    }
    .properties-wrapper h3{
        font-size: 1.1em;
    }
    .property-img-wrapper{
        width: 70%;
    }
}
/* S21FE */
@media (max-width:360px) and (max-height:800px){
    .property-img-wrapper{
        width: 70%;
        height: 70%;
    }
}