.property-details-wrapper{
    height: 90dvh;
    width: 60dvw;
    margin:auto;
    margin-top: 10dvh;
    margin-bottom: 10dvh;
    padding:10px;
    border:1px solid gray;
    font-family: 'Figtree', sans-serif;
    position: relative;
}
.landlord{
    position: absolute;
    right:20px;
    top:10px;
}
.property-details-images-wrapper{
    height: 85%;
    width:100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.prop-img{
    width:70%;
    max-height: 60%;
    position: absolute;
    opacity: 0;
    transition: all 400ms;
}
.active-img{
    opacity: 1;
}
.prev-arrow, .next-arrow{
    font-size: 5em;
    background: none;
    border:none;
    cursor: pointer;
    position: absolute;
}
.prev-arrow{
    left:10px;
    top:50%;
    transform: translateY(-80%);
}
.next-arrow{
    right:10px;
    top:50%;
    transform:translateY(-80%)
}
.property-details-btns-wrapper{
    width: 400px;
    height: 10%;
    margin:auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 10px;
}
.reserve-btn, .save-btn, .unsave-btn{
    text-decoration: none;
    font-size: 1em;
    background-color: var(--lightBlue);
    color:white;
    border:none;
    border-radius: 4px;
    padding:10px 40px;
    cursor: pointer;
    transition: all 250ms;
}
.save-btn{
    background:none;
    color:var(--lightBlue);
    border:1px solid var(--lightBlue);
}
.unsave-btn{
    display: none;
}
.reserve-btn:hover, .unsave-btn:hover{
    background-color: var(--blue);
}
.save-btn:hover{
    background-color: var(--dimBlack);
}