@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
:root{
  --blue:rgb(0, 53, 128);
  --darkBlue:rgb(15, 63, 101);
  --lightBlue:rgb(0, 89, 225);
  --dimWhite:rgba(255, 255, 255, .2);
  --dimBlack:rgba(0, 0, 0, .2);
}
*{
  padding:0;
  margin:0;
}
body{
  background-color: rgb(225, 225, 225);
}
.App{
  font-family: 'Figtree', sans-serif;
}
nav{
  height: 13dvh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
}
.h1{
  color:white;
  text-decoration: none;
  font-size: 2em;
  margin-left: 20px;
}
.sign-in-wrapper{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#list-prop{
  text-decoration: none;
  color:white;
  font-size: 1em;
  cursor: pointer;
  padding:10px 15px;
  transition: all 150ms;
}
#list-prop:hover{
  background-color: var(--dimWhite);
}
.auth-links{
  text-decoration: none;
  color:var(--blue);
  background-color:white;
  border:1px solid var(--lightBlue);
  padding:10px 15px;
  transition: all 150ms;
}
.auth-links:hover{
  background-color:rgba(255, 255, 255, .8);
}
.more-options-btn{
  font-size: 1em;
  background: none;
  border:none;
  color:white;
  cursor: pointer;
  position: relative;
}
.more-options-btn img{
  width: 30px;
  display: inline;
  vertical-align: middle;
  margin-left:0;
  transition: all 400ms;
}
.active-btn-caret{
  transform:rotate(180deg)
}
.more-options{
  width: 130px;
  height: 0px;
  background-color: white;
  position: absolute;
  top: 30px;
  right:-20px;
  overflow: hidden;
  transition: all 300ms;
}
.active-options{
  height: 100px;
  border:1px solid black;
}
.more-options ul{
  list-style: none;
}
.more-options button {
  width: 100%;
  background: none;
  border:none;
  font-size: 1em;
  font-weight: 300;
  cursor:pointer;
  padding:5px 0;
  border-bottom: 1px solid black;
  transition: all 250ms;
}
.more-options a{
  display: block;
  width: 100%;
  color:black;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  padding:5px 0;
  border-bottom: 1px solid black;
  transition: all 250ms;
}
.more-options button:hover, .more-options a:hover{
  background-color: var(--dimBlack);
}